<app-menu></app-menu>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <div class="card">
            <div class="card-header text-center">
                Detail
            </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>ID:</b> 1</li>
                        <li class="list-group-item"><b>Name:</b> Max</li>
                        <li class="list-group-item"><b>Lastname:</b> Max1</li>
                        <li class="list-group-item"><b>Email:</b> Max&#64;email.com</li>
                        <li class="list-group-item"><b>Phone:</b> 999999999</li>
                        

                    </ul>
                </div>
                    <div class="card-footer">
                            <div class="button btn btn-outline-primary w-100" routerLink="/">
                            <i class="fas fa-arrow-alt-circle-left"></i> Back</div>
                    </div>
                
            
        </div>
        </div>
    </div>
</div>